{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block myscripts %}
    <script>
        $(document).ready(function() {
            $("#connexion" ).hide();
            $("#connexion").show("clip", {}, 1000);
        } );
    </script>
{% endblock %}
{% block body %}
    <div class="login-class">
    <div class="contenu-login">
        <form id="connexion" class="form-connexion text-center" method="post">
            <h3 class="mb-3 font-weight-bold titre">CONNEXION</h3>

            <p><i>Vous devez vous connecter pour accéder à l'application</i></p>
            <input type="hidden" value="Utilisateur" name="username" id="inputUsername" class="form-control" required>
            <div class="form-group">
            <label for="inputPassword" class="visually-hidden">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required autofocus>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
            {% if error %}
                <div class="alert alert-danger erreur">Erreur d'authentification, veuillez réessayer</div>
            {% endif %}
        </form>
        <img class="img-connexion" src="img/logo-idfmobilite.png" alt="Image de connexion">
    </div>
    </div>
{% endblock %}
